.auth {
    margin-bottom: 58px;
    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 1.5;
        color: #000000;
        padding-bottom: 20px;
    }

    &__row {
        width: 100%;
        max-width: 1160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__col {
        background-color: #F5F7FF;
        padding: 40px 20px;
        width: 100%;
        max-width: 565px;
        box-sizing: border-box;
    }

    &__col-inner {
        width: 100%;
        max-width: 445px;
        margin: 0 auto;
    }

    &__col-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        color: #000;
        padding-bottom: 15px;
    }

    &__col-desc {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 2.14;
        color: #000000;
        padding-bottom: 25px;
    }
}

.auth-list {
    padding-bottom: 35px;
    padding-inline-start: 15px;
    &__item {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.6;
        color: #000;
    }
}