.sorting {
    width: 100%;
    max-width: max-content;
    padding: 16px 28px;
    background-color: #F5F7FF;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    &__heading {
        padding-right: 40px;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000;
    }
}

.sorting-params {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
    padding-right: 30px;
    &__item {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #000;
        cursor: pointer;
    }
}