.home {
    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 1.5;
        color: #000;
        padding-bottom: 50px;
    }
}