.register {
    margin-bottom: 58px;
    &__inner {
        width: 100%;
        max-width: 1160px;
        margin: 0 auto;
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 1.5;
        color: #000000;
        padding-bottom: 20px;
    }

    &__form-wrap {
        background-color: #F5F7FF;
        padding: 40px 20px;
        width: 100%;
        max-width: 565px;
        box-sizing: border-box;
    }

    &__form-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        color: #000;
        padding-bottom: 15px;
    }

    &__form-desc {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 2.14;
        color: #000000;
        padding-bottom: 25px;
    }

    &__form-wrap-inner {
        width: 100%;
        max-width: 445px;
        margin: 0 auto;
    }
}