.header {
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #CACDD8;
    margin-bottom: 58px;
    &__logo {
        width: 85px;
        height: 69px;
        fill: #0156FF;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    &__item {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        padding: 10px;
        cursor: pointer;
    }
}

.user-panel {
    display: flex;
    align-items: center;
    gap: 20px;
    &__icon {
        width: 25px;
        height: 25px;
        fill: #000;
    }
}